html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 100%;
  margin: 0 0;
}

h1 {
  margin: 100px auto;
  width: 70vw;
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 10px;
}

nav a {
  margin: 0 10px;
}

.btn-container {
  margin: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
}

button.btn {
  font-size: 1.7em;
  background-color: rgb(76, 112, 212);
  color: white;
  box-shadow: 0px 20px 10px grey;
  min-width: 300px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid transparent;
}

#confirm {
  z-index: -1;
  position: absolute;
  top: 0px;
  height: 20px;
  font-size: 1.5em;
}
span {
  font-family: 'Mansalva', cursive;
}

section.section {
  padding: 100px 40px;
  margin: 1000px 0px;
}

section.section,
.firstHidden {
  display: none;
  justify-content: space-around;
  flex-basis: 400px;
}

section.contact {
  height: 90vh;
}

section p,
section h3 {
  width: 90%;
  margin: 0 20px;
}

section:nth-child(even) {
  color: #535353;
  background-color: #00000011;
}

div form.section {
  display: flex;
  flex-direction: column;
}

form.section {
  margin: 90px 0;
}

input,
textarea {
  background: rgba(206, 206, 206, 0.3);
  border: none;
  font-size: 1.5em;
}

form.section input,
form.section textarea {
  flex-basis: 30px;
  width: 310px;
}

form.section textarea {
  flex-basis: 100px;
}

form button {
  margin-top: 10px;
  background-color: rgba(100, 200, 100, 0.5);
  height: 60px;
  font-family: 'Mansalva', cursive;
  font-size: 30px;
  padding: 10px;
}

.footer {
  color: rgba(0, 0, 0, 0.2);
  position: sticky;
  bottom: 20px;
  text-align: center;
  margin: 0 40px;
  width: 400px;
}

@keyframes successFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOver {
  0% {
    transform: translateY(20%);
    box-shadow: 0px 15px 10px grey;
  }
  50% {
    transform: translateY(50%);
    box-shadow: 0px 10px 7px grey;
  }
  100% {
    transform: translateY(65%);
    box-shadow: 0px 5px 5px grey;
  }
}

@media (max-width: 900px) {
  section.section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
    text-align: center;
  }
  section {
    margin: 1000px 0;
  }
  .footer {
    color: rgba(0, 0, 0, 0.9);
    position: static;
    text-align: center;
  }
  nav {
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    margin: 150px auto;
    width: 70vw;
    text-align: center;
  }
  #contact {
    /* width: 100%; */
    padding: 60px 0px;
  }
}
